
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face {
    font-family: "exo-extra-light";
    src: url("font/Exo-ExtraLight.ttf") format("opentype");
    /* Make sure you defined the correct path, which is related to
        the location of your file `my_css.css` */
}
@font-face{
    font-family: "exo-extra-medium";
    src: url("font/Exo-Medium.ttf") format("opentype");/
}
@font-face{
    font-family: "exo-extra-bold";
    src: url("font/Exo-Bold.ttf") format("opentype");/
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'exo-extra-medium', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    font-family: 'exo-extra-medium';
    width:100%;
     background-color:transparent;
    background-image:url('../img/motivo.png'),linear-gradient(top, #ffffff , #b3cce2 );
    background-image:url('../img/motivo.png'),-webkit-linear-gradient(top, #ffffff,  #b3cce2 );
    background-image:url('../img/motivo.png'),-ms-linear-gradient(top, #ffffff ,  #b3cce2 );
    background-attachment:fixed;
}
#menu{
        background: #fff;
        padding-right: 15px;
}
#menu .list{
        background: none;
        font-family: 'exo-extra-medium';
        text-transform: none;
}
#menu{
        background: #fff;
}
.toolbar{
    background: transparent;
    box-shadow: none;
}
.hidden{
    display: none;
}
.button{
    font-family:'exo-extra-medium', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.p,span{
    font-family:'exo-extra-medium', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
p{
    margin:0 0 10px 0;
}
strong{
    font-family:'exo-extra-bold', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
ons-col[align=center]{
    text-align: center;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.card {
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}
.blanco{
    background: #fff;
}
.toolbar__center{
    width: 100%
}
.toolbar__left{
    width: 12%;
}
.toolbar__right{
      width: 12%;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 .mapas{
    width: 100%;
    height:400px;
 }
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
#content .page__content {
    padding:0 15px;
    padding-top:0px;
    margin-top:35px;
}
#home .page__content{
    margin-top:0px;
    margin-top: -22px;
}
.loading {
    width: 100%;
    text-align:center !important;
}
 img{
    max-width:100%;
     display: inline-block;
}
 .logo {
     text-align: center;
     margin-bottom:5px;
 }
.logo img {
    width: 60%;
    display: inline-block;
}
.recuadro{
    border:1px solid #01539f;
    background: #fff;
    padding: 10px 15px;
    border-radius:6px;
    margin-bottom:15px;
}
.recuadro h2{
    text-align: center;
    color:#01539f;
    font-family: 'exo-extra-light';
    font-size:20px;
    margin-top:0;
}

.recuadro p{
    margin:2px;
}
.text-center{
    text-align: center;
}
.page__background{

    background-color:transparent;
    
}
.page__content{
background: none;
}

ons-button{
    text-transform: none;
}
i {
    margin-right:8px;
}
.ver_historial{
    background:#ccddec ;
    color:#01539f;
    font-size:13px;
    float:right;
}
.entrar{
    background:#f08000;
    color:#fff;
    font-family:'exo-extra-bold';
    float:right;
    font-size:17px;
}
.fecha{
    color:#000;
}
.horario{
    color:#01539f;
}
.content-entrar-boton{
    margin-top:14px;
}
ons-row span.menu{
    margin-top:5px;
    text-transform:none;
    color:#01539f;
    font-family: 'exo-extra-bold';
    font-size:13px;
    padding:0px 5px 5px 5px;
    text-shadow:1px 1px 1px #fff;
    display: inline-table;
    width: 90%;
}

/*Informacion del viaje*/


.whitePage .page__background {
    background: #ffffff;
    text-transform:none;
}

.whitePage .toolbar--material {
    box-shadow:unset;
}

.whitePage .list-item--material {
    padding-left: 0px;
}

.tituloSeccion {
    color: #01539f;
    font-weight: bold;
    font-size: 14px;
}
#home .toolbar{
    overflow:visible;
}
#home .tituloSeccion{
    padding-top:15px;
}
.content .list-item{
	padding-left:0;
}
.tituloViaje {
    color: #f08000;
    border: 1px solid #f08000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iconoItem {
    width: 45px;
    height: 45px;
    position:relative;
}

.azul .iconoItem {
    background:#ccddec;
}

.naranja .iconoItem {
    background: #fce6cc;
}

.iconoItem i {
    color:#01539f;
    font-size:30px;
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.azul .iconoItem  i {
    color: #01539f;
}

.naranja .iconoItem  i {
    color: #f08000;
}

.textItem  {
	float: left;
    width: 84%;
}
.textItem ul {
    padding-inline-start: 10px;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 45px;
}
#estancias{
	padding-left:12px;
}
#estancias .list-item--expandable{
    padding-bottom: 5px;
    padding-bottom: 10px;
}
#estancias .list{
	padding-top:0;
	padding-bottom:0;
  
    margin-top: 5px;
    margin-bottom:10px;
}
#info-destino .list-item__left{
	padding-right:0;
	display:inline-block;
	padding-bottom:0;
}
#info-destino .list-item__left .iconoItem{
	float:left;
}
.textItem ul li {
    text-transform: initial;
    margin-bottom: 2px;
    color:#222222;
    font-size: 10px;
}
.maps-google-ver{
    font-family: 'exo-extra-bold';
    font-size: 18px;
}
.textItem ul li.titulo {
    font-weight: 900;
    font-size: 13px;
    color: #01539f;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 5px;
}
.direccionApartamento .textItem ul li.titulo{
	white-space: nowrap;
}

.whitePage ons-list-item .list-item__center {
    padding-bottom: 10px;
    background-image: unset;
    padding-left:0px;
    padding-right:0px;
}

.whitePage ons-list {
    margin-top:20px;
    margin-bottom:20px;
}

.textItem ul li a {
    color:#2988e0;
    text-decoration:unset;
}

.whitePage .card--material {
    border-radius:unset;
    box-shadow:unset;
    padding: 0px;
    margin: 0px;
}

.whitePage ons-card img {
    margin-top: 20px;
}

.whitePage ons-card .descripcion {
    text-transform: initial;
    color:#222222;
    margin-top: 20px;
}
#destino .list{
    border:none;
    font-family:'exo-extra-light';
    background-image:none;
}
#lista_horarios.list{
    background: none;
}
#login  ons-input{
   width:100%;
}
#login{
    position:absolute;
    top: 55%;
    width:100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.text-input--material__label--active {
    display:none !important;
}

#menu ons-list-item img{
    width: 35px;
    height: 25px;
}

 #menu ons-list-item {
     margin-top:15px;
     margin-bottom:15px;
 }

 #menu ons-list-item .list-item__center {
     background-image: unset;
 }

#menu ons-list-item i{
    font-size:19px;
    padding-left:8px;
}

 #menu ons-list-item p {
     font-family: 'Exo';
     font-size: 15px;
     /*text-shadow: 3px 1px 2px #fff;*/
     padding-top:8px;
 }

 .iconoHorarioRegistrado {
    font-size:20px;
     border:2px solid green;
     color:green;
     border-radius:50%;
     margin-left:15px;
     margin-top:10px;
     margin-bottom:10px;
     padding:15px;
 }

 .entrar .dedoClick {
     -ms-transform: rotate(-30deg); /* IE 9 */
     -webkit-transform: rotate(-30deg); /* Safari 3-8 */
     transform: translate(-50%) rotate(-30deg);
     position:relative;
     left:50%;
     margin-top:15px;
     margin-bottom:15px;

 }